{% extends 'batchapp/base.html' %}
{% load crispy_forms_tags %}

{% block content%}

<div class="row">
    <div class="col-lg-6">
        <div class="mt-5">
            <h4 class="header-title mb-3">Add Batch</h4>

            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <!-- create a legend -->
                    <!-- <legend class="border-bottom mb-4">
                        Add batch
                    </legend> -->
                    {{form|crispy}}
                </fieldset>
                <!-- create a button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info btn-block">Add</button>
                </div>
            </form>
        </div>
    </div>

{% endblock%}