<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>My Python Trainer | Student App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="My Python Trainer | Admin Panel" name="description" />
    <meta content="JC Web Technologies" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
        id="bootstrap-stylesheet" />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-stylesheet" />
</head>

<body data-layout="horizontal">
    <div id="wrapper">
        <!--navbar-->
        {% include 'partial/_navbarhr.html' %}

        <!-- messages -->
        {% if messages %}
        <div class="container">
            <div class="row py-5">
                <div class="col-md-6">
                    {% for msg in messages %}
                    <!-- here v create an alert and grab the message tag for success -->
                    <div class="alert alert-{{msg.tags}}">
                        <!-- specify the message  -->
                        {{msg}}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="box-1" style="min-height: 80vh">
            {% block content%}
            {% endblock %}
        </div>

        {% include 'partial/_footer.html' %}

    </div>
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>

</body>

</html>