{% extends 'trainers/base.html'%}


{% block content%}
<div class="container">
    <div class="row mb-5 fields mt-5">
    <div class="col-md-6">
    {% if new %}
        <!--breadcrumb -->
        <section id="bc" class="mb-5">
            <div class="container">

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'adminapp:admin_home' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'trainers:trainer_view' %}">Trainers</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{new.name}}</li>
                </ol>
              </nav>
            </div>
        </section>
    <ul class="list-group list-group-flush">
        <h1 class="text-info">Trainer Info</h1>
        <li class="list-group-item text-secondary">Name:
            <span class="float-right"> {{new.name}}</span>
        </li>
        <li class="list-group-item text-secondary">Email:
            <span class="float-right">{{new.email}}</span>
        </li>
        <li class="list-group-item text-secondary">Qualification:
            <span class="float-right">{{new.qualification}}</span>
        </li>
        <li class="list-group-item text-secondary">Experience:
            <span class="float-right">{{new.experience}}</span>
        </li>
        <li class="list-group-item text-secondary">Training Experience:
            <span class="float-right">{{new.training_exp}}</span>
        </li>
        <li class="list-group-item text-secondary">Mobile Number:
            <span class="float-right">{{new.country_code}} {{new.phone_number}}</span>
        </li>
        <li class="list-group-item text-secondary">Statuse:
            <span class="float-right">{{new.status}}</span>
        </li>

    </ul>
          <div class="pt-4">
        <a href="{% url 'trainers:trainer_edit' new.id %}" class="btn btn-secondary float-left px-4">Update</a>
        <a href="{% url 'trainers:trainer_delete' new.id %}" class="btn btn-danger float-right px-4">Delete</a>
            </div>
        {% endif %}
    </div>
    </div>
</div>





{% endblock%}